html, body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    margin-top: 2rem;
}

header {
    background-color: #1b4ebd;  
    color: white;
    list-style-type: none;
    display: flex; 
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 2rem;
    top: 0;
}

header h1 {
    margin-left: 10px;
    font-size: 0.8em;
    margin-top: 0.5rem;
    margin-left: 0.4rem;
    text-transform: uppercase;
}

header ul {
    list-style-type: none;
    display: flex;
    font-size: 0.7em;
    margin-top: 0.5rem;
}

header li {
    margin-right: 0.6rem;
}

a {
    text-decoration: none;
    color: white;
}

.destaque {
    background-color: #1f67d4;
    text-align: center;
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.mercado {
    text-transform: uppercase;
}

.ntc{
    font-size: 0.9rem;
}

.destaque button {
    color: #0796e9;;
    background-color: white;
    border: none;
    border-radius: 4px;
    height: 1.8rem;
    width: 5rem;
}

.noticias h2 {
    text-align: center;
}

.noticias section{
    display: flex;
    justify-content: space-around;
}

.noticias section article{
    border: 0px solid black;
    padding: 10px;
    border-radius: 3px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 20rem;
}

.noticias button {
    background-color: rgb(13, 126, 255);
    border: none;
    text-decoration: none;
    border-radius: 4px;
    height: 1.8rem;
    width: 5rem;
}

.noticias section article a {
    color: rgb(255, 255, 255);
}


.formulario h2{
    text-align: center;
}

.formulario {
    margin: 3rem;
}

.formulario form {
    border: 0px solid black;
    padding: 3rem;
    margin: auto;
    border-radius: 3px;
    background-color: white;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.75);
    width: 20rem;
    text-align: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.formulario label {
    display: flex;
    justify-content: space-around;
}

.formulario input, textarea {
    border: none;
    background-color: whitesmoke;
}

.formulario textarea {
    height: 100px;
    width: 250px;
    resize: none;
}

.formulario button {
    background-color: rgb(7, 90, 185);
    color: white;
    border: none;
    text-decoration: none;
    display: flex;
    margin: auto;
    margin-top: 1rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 2px;
    height: 1.8rem;
    width: 5rem;
}

footer {
    background-color: #0e3381;
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: white;
    font-size: 0.8rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}


footer li {
    margin-right: 1rem;
    text-decoration: none;
    list-style-type: none;
}

.links {
    margin-left: 2rem;
}

.contato {
    margin-right: 2rem;
}

.redes {
    margin-right: 20rem;
}